# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# reftex files
*.rel

# Flycheck
flycheck_*.el

# projectiles files
.projectile

# directory configuration
.dir-locals.el